In [2]:
# !pip install pandas
# !pip install pyreadr
# !pip install sdmetrics

In [3]:
import pandas as pd
import pyreadr
import os

from sdmetrics.single_table import NewRowSynthesis

In [4]:
# mount to the working directory
wd = "/dss/dsshome1/0C/ru27req2/MA_Experiment_Data/Master-Thesis-DifferentialPrivacy"
os.chdir(wd)

In [5]:
# read in the original dataset as dictionary
ods_dict = pyreadr.read_r("bindori_dataset_preprocessed_factor.rda")

In [6]:
# print(ods_dict.keys()) # odict_keys(['bindori_dataset_threshold_chr'])
ods_dataset = ods_dict["bindori_dataset_threshold_chr"]
# ods_dataset

# preprocess the dataset to keep only 54 variables
ods_dataset.drop(["B13_1", "B13_2", "B13_3", "B13_4",
                  "B13_5", "B13_6", "B13_7", "B14_1", 
                  "B14_2", "B14_3", "B14_4", "B14_5",
                  "D6_1", "D6_2", "D6_3", "F3_de",
                  "B1b_x1", "B1b_x2", "B1b_x3", "B1b_x4", 
                  "B1b_x5", "B1b_x6", "B1b_x7", "B1b_x8", 
                  "B1b_x9", "B1b_x10", "B1b_x11","B1b_x12", 
                  "B1b_x13", "D10", "C0_1", "C0_2", 
                  "C0_3", "C0_4", "C0_5", "C0_6"], inplace=True, axis=1)
ods_dataset.iloc[:, 1:54]

,B1_1,B1_2,B1_3,B1_4,B1_5,B1_6,B1_7,B1_8,B1_9,B1_10,...,E3,E4,E7,F1,F2_1,F2_2,B2,B4,E5,E6
0,2,2,2,2,2,2,2,2,2,2,...,1,3,5,1,2,2,-99,-99,"[1, 2)","[0, 9)"
1,2,2,2,2,2,2,2,2,2,2,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
2,2,2,2,2,2,2,2,2,2,2,...,1,4,3,1,2,2,-99,-99,"[1, 2)","[0, 9)"
3,2,2,2,2,2,1,2,2,2,2,...,-99,5,3,1,2,2,"[1, 3)",-99,"[1, 2)","[0, 9)"
4,2,2,2,2,2,2,2,2,2,2,...,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260294,2,2,2,2,2,2,2,2,2,2,...,1,7,3,1,2,2,-99,-99,"[1, 2)","[0, 9)"
260295,2,2,2,2,2,2,2,2,2,2,...,2,4,4,1,2,2,-99,-99,"[1, 2)","[0, 9)"
260296,2,2,2,2,2,2,2,2,2,2,...,2,2,2,1,1,2,-99,-99,"[1, 2)","[0, 9)"
260297,2,2,2,2,2,2,2,2,2,2,...,2,2,3,1,2,2,-99,-99,"[1, 2)","[0, 9)"
260298,2,2,2,1,1,2,1,2,2,2,...,1,4,4,1,2,2,"[1, 3)",-99,"[1, 2)","[0, 9)"

In [7]:
# encode var B2, B4, E5, E6 as integers
# prepare the category mapping
category_mapping_B2 = {'-1': 1, '-99': 2, '[0, 1)': 3, '[1, 3)': 4}
category_mapping_B4 = {'-99': 1, '[0, 1)': 2, '[1, 5)': 3}
category_mapping_E5 = {'-99': 1, '[0, 1)': 2, '[1, 2)': 3}
category_mapping_E6 = {'-99': 1, '[0, 9)': 2}

ods_dataset['B2'] = ods_dataset['B2'].map(category_mapping_B2)
ods_dataset['B4'] = ods_dataset['B4'].map(category_mapping_B4)
ods_dataset['E5'] = ods_dataset['E5'].map(category_mapping_E5)
ods_dataset['E6'] = ods_dataset['E6'].map(category_mapping_E6)

In [8]:
# change from column 1-54 as float variables
ods_dataset.iloc[:,1:54] = ods_dataset.iloc[:,1:54].astype(float)

In [9]:
# let us see for the preprocessed dataset
ods_dataset.iloc[:, 1:54]

,B1_1,B1_2,B1_3,B1_4,B1_5,B1_6,B1_7,B1_8,B1_9,B1_10,...,E3,E4,E7,F1,F2_1,F2_2,B2,B4,E5,E6
0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,1.0,3.0,5.0,1.0,2.0,2.0,2.0,1.0,3.0,2.0
1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,2.0,1.0,1.0,1.0
2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,1.0,4.0,3.0,1.0,2.0,2.0,2.0,1.0,3.0,2.0
3,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,...,-99.0,5.0,3.0,1.0,2.0,2.0,4.0,1.0,3.0,2.0
4,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,2.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260294,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,1.0,7.0,3.0,1.0,2.0,2.0,2.0,1.0,3.0,2.0
260295,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,4.0,4.0,1.0,2.0,2.0,2.0,1.0,3.0,2.0
260296,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,1.0,1.0,2.0,2.0,1.0,3.0,2.0
260297,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,3.0,1.0,2.0,2.0,2.0,1.0,3.0,2.0
260298,2.0,2.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,...,1.0,4.0,4.0,1.0,2.0,2.0,4.0,1.0,3.0,2.0

### 2-1 read in the `normrank` group synthetic datasets
There are in total 3 datasets generated using this method, which are
- normrank_sample_sds
- normrank_norm_sds
- normrank_normrank_sds

In [10]:
# load the normrank synthetic datasets
normrank_sample_sds = pyreadr.read_r("./SyntheticData/Yue/syn6_normrank/normrank_sample_syn.rda")["syn"]
normrank_norm_sds = pyreadr.read_r("./SyntheticData/Yue/syn6_normrank/normrank_norm_syn.rda")["syn"]
normrank_normrank_sds = pyreadr.read_r("./SyntheticData/Yue/syn6_normrank/normrank_normrank_syn.rda")["syn"]

In [15]:
normrank_sample_sds["E6"]

0         2
1         2
2         2
3         2
4         2
         ..
260294    1
260295    1
260296    1
260297    2
260298    2
Name: E6, Length: 260299, dtype: int32

In [16]:
# encode var B2, E5 as integers, B4, E6 not necessary, already as int32 or float64
# prepare the category mapping
normrank_sample_sds['B2'] = normrank_sample_sds['B2'].map(category_mapping_B2)
normrank_sample_sds['E5'] = normrank_sample_sds['E5'].map(category_mapping_E5)

normrank_norm_sds['B2'] = normrank_norm_sds['B2'].map(category_mapping_B2)
normrank_norm_sds['E5'] = normrank_norm_sds['E5'].map(category_mapping_E5)

normrank_normrank_sds['B2'] = normrank_normrank_sds['B2'].map(category_mapping_B2)
normrank_normrank_sds['E5'] = normrank_normrank_sds['E5'].map(category_mapping_E5)
# change from column 1-54 as float variables
normrank_sample_sds.iloc[:,1:54] = normrank_sample_sds.iloc[:,1:54].astype(float)
normrank_norm_sds.iloc[:,1:54] = normrank_norm_sds.iloc[:,1:54].astype(float)
normrank_normrank_sds.iloc[:,1:54] = normrank_normrank_sds.iloc[:,1:54].astype(float)

In [19]:
normrank_sample_sds.head()

,weight,B1_1,B1_2,B1_3,B1_4,B1_5,B1_6,B1_7,B1_8,B1_9,...,E3,E4,E7,F1,F2_1,F2_2,B2,B4,E5,E6
0,5207.333544,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,3.0,3.0,3.0,1.0,2.0,2.0,2.0,1.0,3.0,2.0
1,1934.510950,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,1.0,5.0,3.0,1.0,2.0,2.0,2.0,1.0,3.0,2.0
2,11843.036543,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,...,3.0,3.0,3.0,1.0,2.0,2.0,4.0,1.0,3.0,2.0
3,5078.534905,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,5.0,3.0,1.0,2.0,2.0,2.0,1.0,3.0,2.0
4,3323.760995,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,6.0,4.0,-99.0,-99.0,-99.0,2.0,1.0,3.0,2.0

In [20]:
# create the metadata dictionary
single_table_metadata_dict = {"primary_key": "weight",
                              "fields": {
                                "weight": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B1_1": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B1_2": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B1_3": {
                                    "type": "numerical",
                                    "subtype": "float",
                                }, 
                                "B1_4": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B1_5": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B1_6": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B1_7": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B1_8": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B1_9": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B1_10": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B1_11": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B1_12": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B1_13": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B3": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B5": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B6": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B7": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B8": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B9": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B10": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B11": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B12_1": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B12_2": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B12_3": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B12_4": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B12_5": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B12_6": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "C1_m": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "C2": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "C3": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "C5": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "C6": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "C7": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "C8": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "D1": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "D2": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "D3": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "D4": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "D5": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "D7": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "D8": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "D9": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "E2": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "E3": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "E4": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "E7": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "F1": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "F2_1": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "F2_2": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B2": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "B4": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "E5": {
                                    "type": "numerical",
                                    "subtype": "float",
                                },
                                "E6": {
                                    "type": "numerical",
                                    "subtype": "float",
                                }
                            }}

In [23]:
normrank_sample_nrs = NewRowSynthesis.compute(
    real_data=ods_dataset,
    synthetic_data=normrank_sample_sds,
    metadata=single_table_metadata_dict,
    numerical_match_tolerance=0.01
)

In [72]:
normrank_norm_nrs = NewRowSynthesis.compute(
    real_data=ods_dataset,
    synthetic_data=normrank_norm_sds,
    metadata=single_table_metadata_dict,
    numerical_match_tolerance=0.01
)

In [ ]:
normrank_normrank_nrs = NewRowSynthesis.compute(
    real_data=ods_dataset,
    synthetic_data=normrank_normrank_sds,
    metadata=single_table_metadata_dict,
    numerical_match_tolerance=0.01
)

In [24]:
normrank_sample_nrs

1.0

In [25]:
normrank_norm_nrs

NameError: name 'normrank_norm_nrs' is not defined